body {
    margin: 0;
    padding 0;
    height: 100vh;
}

#particles-js {
    height: 100vh;
    width: 100%;
    background: #000000;
    background-image: url("../img/mountain.jpeg");
    position:fixed;
}
#github {
    z-index: -1;
    width: 50px;
    height:50px;
    float:right;
}

.container{
    position: absolute;
    top: 30%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    font-family: 'Bangers', cursive;

}

.jumbotron {
    background:rgba(0,0,0,0.5);
    color: #ffffff;
    font-size: 10vw;
}
h1{
    font-size:7vw;
}
