#arena {
    margin: 20px;
    border: 1px solid black;
    float: left;
}

#battleInfo {
    float: left;
    overflow: scroll;
    margin: 20px 0px 20px 20px;
    border: 1px solid black;
    width: 210px;
    height: 300px;
}

#battleInput {
    float: left;
    overflow: scroll;
    margin: 20px 0px 20px 20px;
    border: 1px solid black;
    width: 210px;
    height: 300px;
    display: none;
}

#battleBtns {
    padding: 25px;
    border: 1px solid black;
    position: fixed;
    left: 377px;
    top: 350px;
}


#arenaContainer {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: silver;
    border: 5px solid grey;
    visibility: hidden;
    z-index: 1000;
    height: 450px;
    width: 600px;
}

#map {
    border: 1px solid white;
    margin: 20px;
}

#mapContainer {
    background-color: black;
    float: left;
    height: 640px;
    width: 640px;
}

#showBattle {
    float: left;
    margin: 20px 10px 0 20px;
}

#infoContainer {
    display: none;
    float: left;
    margin: 20px 20px 0 20px;
    padding: 0 20px 20px 20px;
    border: solid black 1px;
}

#playerCards {
    overflow: scroll;
    border: solid black 1px;
    width: 200px;
    height: 100px;
}

#menu {
    border: 1px solid black;
}

#movement {
    border: 1px solid black;
    padding: 10px;
    position: fixed;
    top: 580px;
    left: 720px;
}

#battleRequests {
    float: left;
    margin: 20px;
    padding: 0 10px 10px 10px;
    border: solid black 1px;
    display: none;
}

#menuSelection {
    margin: 10px 10px 10px 20px;
}

#requests {
    overflow: scroll;
    border: solid black 1px;
    width: 200px;
    height: 100px;
}
