body{
    height: 100vh;
    width: 100%;
    background: #000000;
    background-image: url("../../frontend/img/mountain.jpeg");
    position:fixed;
    font-family: 'VT323', monospace;
}

#container {
    width: 100%;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
#outcome {
    border: 1px solid black;
    position: fixed;
    margin: 20px;
    top: 350px;
    width: 260px;
    height: 50px;
}

#mapContainer {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

#middle-column {
    display: flex;
    flex-direction: column;
}

#players-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}
#listOfPlayers {
    list-style-type: none;
}

#listOfPlayers button {
    width: 100%;
    height: 50px;
    font-family: inherit;
    font-size: 16pt;
}

#arena {
    margin: 20px;
    border: 1px solid black;
    float: left;
}

#arenaContainer {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: silver;
    border: 5px solid grey;
    visibility: hidden;
    z-index: 1000;
    height: 450px;
    width: 600px;
}

#map {
    border: 1px solid white;
    margin: 20px;
}

#battleInfo {
    float: left;
    overflow-y: scroll;
    margin: 20px 0px 20px 20px;
    border: 1px solid black;
    width: 210px;
    height: 300px;
}

#battleInput {
    float: left;
    overflow-y: scroll;
    margin: 20px 0px 20px 20px;
    border: 1px solid black;
    width: 210px;
    height: 300px;
    display: none;
}

#battleBtns {
    padding: 25px;
    border: 1px solid black;
    position: fixed;
    left: 377px;
    top: 350px;
}


#showBattle {
    float: left;
    margin: 20px 10px 0 20px;
}

#infoContainer {
    display: none;
    float: left;
    margin: 20px 20px 0 20px;
    padding: 0 20px 20px 20px;
    border: solid black 1px;
}

#playerCards {
    overflow-y: scroll;
    border: solid black 1px;
    width: 200px;
    height: 100px;
}

#menu {
    border: 1px solid black;
    display: none;
}

#movement {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 140px;
    height: 90px;

}

#up {
    grid-column-start: 2;
    border-radius:5px 5px 0 0;
}

#right {
    border-radius: 0 5px 5px 0;
}

#left{
    border-radius: 5px 0 0 5px;
}

#centerbutton {
    background-color: #d7dae0;
}
.movebutton {
    border: none;
    background-color: #d7dae0;
}

.float-right {
    float: right;
}
#battleRequests {
    float: left;
    margin: 20px;
    padding: 0 10px 10px 10px;
    border: solid black 1px;
    display: none;
}

#menuSelection {
    margin: 10px 10px 10px 20px;
}

#requests {
    overflow: scroll;
    border: solid black 1px;
    width: 200px;
    height: 100px;
}

h1 {
    color: #ffffff;
}
